*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page-container{
    height: calc(100vh - 80px);
}

hr{
  width: 50px;
  color: lightgray;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    
    height: 80px;
    width: 100%;
    background-color: white;

    font-size: 16px;

    z-index: 2;
}

.inner-nav{
    display: flex;
    justify-content: space-between;
    width: 95%;

    gap: 35px;
    padding: 1%;   
}

.inner-nav-sx{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.inner-nav-dx{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.blue-button{
    
    height: 35px;
    width: 70px;
    color: white;
    background-color: #094cba;
    border: none;

    font-size: 18px;
}

.blue-button2{
    background-color: #094cba;
    border: none;
    color: white;
    font-size: 18px;
    padding: 15px;
}


header{
    background-color: #b4d0e7;
}

.header-centered{
    width: 50%;
    margin: auto;
}

header h1{
    font-size: 4.5em;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;
}

.header-section{
    display: flex;
    justify-content:center;
}

.header-section-sx{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: 90px;

    width: 30%;
}
.header-section-inner{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: 40px;

    

    width: 30%;
}


.header-section-sx p {
    width: 20vw;
}

.header-section-dx{
    margin-bottom: -85px;
}

.header-section-dx img{
    height: 50vh;
}

.inner-header{
    width: 20vw;
}

.arrow{
    width: 20vw;
    font-size: 50px;
}

.container-centered {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
  }
  
  .container {
    width: 50%;
  }

  .container h2{
    font-size: 40px;
  }

  .checkboxes{
    display: flex;
    gap: 20px;

    padding-top: 80px;
    padding-bottom: 50px;
  }

  .container2{
    display: flex;
    justify-content: space-around;
  }

  .column{
    width: 30%;
    background-color: white;
    border: 1px solid gray;
  }

  .column div{
    padding:15px
  }

  .title{
    border-bottom: 1px solid gray;
    text-align: center;
  }

  .button3{
    font-size: 18px;
    padding: 15px;

    background-color: #094cba;
    color: white;
    border: none;
  }

  .button-flex{
    display: flex;
    justify-content: center;
  }

  .column2{
    width: calc(100% - 30px);
    background-color: white;
    border: 1px solid gray;
    margin-top: 50px;
  }

  .column2 div{
    padding: 15px;
  }

  .column2-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title2{
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 1em;
  }

  .partner-flex{
    display: flex;
    gap: 60px;
    padding-bottom: 250px;
  }

  .partner-flex img{
    width: 100%;
  }

  .partner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }

  .partner-title{
    width: 50%;
  }

  .partner-paragraph{
    width: 60%;
    line-height: 25px;
  }

  .partner-button{
    background-color: white;
    border: 1px solid black;
    font-size: 15px;
    padding: 1em;
  }

  .operations-title{
    padding-bottom: 50px;
  }


  .operations-flex{
    display: flex;
    flex-wrap: wrap;
  }

  .operations-flex h3{
    padding-bottom: 40px;
  }


  .operations-flex div{
    width: calc(100% / 3);
    line-height: 23px;
  }

  .operations-flex img{
    width: 100%;
  }

  .business-teams{
    padding-top: 200px;
  }

  .business-teams-flex{
    display: flex;
    flex-direction: column;
    gap: 80px;

    padding-bottom: 200px;
  }


  .featured{
    display: flex;
  }

  .featured-left, .featured-right{
    display: flex;
    flex-wrap: wrap;
  }

  .featured-left{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
  }

  .featured-left-square{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50%;
  }

  .featured-left-square img{
    filter: invert(1);
    width: 50%;
  }

  .featured-right-square img{
    filter: invert(1);
    width: 50%;
  }

  .featured-center{
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: calc(100vw / 3);

    background-color: #f5f5f5;
    padding: 4%;

  }

  .featured-center p{
    width: 30;
  }

  .featured-center img{
    width: 50%;
  }

  .featured-right{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
  }

  .featured-right-square{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50%;
  }

  .grey{
    color: gray
  }

  .color1{
    background-color:#a2d39b
  }

  .color2{
    background-color: #61082b;
  }

  .color3{
    background-color: #0093ce;
  }

  .color4{
    background-color: #ff1c1c;
  }

  .color5{
    background-color: #d5001f;
  }

  .color6{
    background-color: #b4d0e7;
  }

  .color7{
    background-color: #0d2481;
  }

  .color8{
    background-color: #ffd830;
  }

  .Bring-Dropbox{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #b4d0e7;
    height: 400px;
    width: 100%;
  }

  .Bring-it{
    color: #61082b;
  }

  .Bring-it h1{
    width: 60%;
  }

  .Bring-it-button{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 10px;
  }

  .Faq-container-flex{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .Faq-flex{
    display: flex;
    gap: 30px;
  }

  .hr-faq{
    width: 100%;
  }

  .black-footer{
    width: 100%;
    background-color: black;
    padding: 5%;
  }

  ul{
    color: white;
    list-style: none;
  }

  .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
  }

  .links-flex ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }



  